/* FONT */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* CSS */

@import './vendors/reset.css';
@import './vendors/home.css';
@import './vendors/connect.css';
@import './vendors/connected.css';
@import './vendors/write.css';
@import './vendors/clients.css';
body {
    background: #040028;
}

.button {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 49px;
    font-weight: bold;
    font-family: Montserrat;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 160%;
    margin: 30px 0 30px 0;
    transition: 500ms;
}

.button:hover {
    background: #040028;
    transition: 500ms;
    color: white;
}



embed {
    width: calc(100vw - 50px);
    height: 500px;
}

@media screen and (min-width:980px) {
    embed {
        width: calc(100vw - 150px);
        height: 900px;
    }
}


@keyframes exit {
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}


.container_alert {
    margin-top:10px;
    width: 100vw;
    height:auto;
    display: flex;
    justify-content: center;
}
.alert {
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: exit 9s forwards;
    /* font-weight: bold; */
    font-family: Montserrat, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 160%;
    min-width: 330px;
    height: 0px;
    opacity: 1;
    margin-top: 10px;
}

.red {
    background: #ff9191;
    border: #ff9191 1px solid;
}

.green {
    background: #9df7af;
    border: 1px solid #9df7af;
}
