@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './reset.css';
@import './parts/home.css';
@import './parts/menu.css';
@import './parts/footer.css';

@font-face {
  font-family: "GTWalsheimProBold";
  src: url("../../assets/fonts/GTWalsheimProBold.ttf") format("ttf");
 }
 

 body {
   background-color:#040028; 
 }

 section {
   height: 50vh;
   background-color: cornflowerblue;
 }