@font-face {
    font-family: "GTWalsheimProBold";
    src: url("../../assets/fonts/GTWalsheimProBold.ttf") format("ttf");
}

@keyframes appear {
    0% {
        transform: translate(-100vw);
    }
    20% {
        transform: translateX(0vw);
    }
    70% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

@keyframes go_back {
    0% {
        transform: translate(0vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes appear_last {
    0% {
        transform: translate(-100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

.appear {
    animation: appear 4s;
}

.appear_last {
    animation: appear_last 2s forwards;
}

.header__top {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040028;
    padding-top: 10px;
    z-index: 200;
}

.header__top__logo {
    margin-left: 20px;
    z-index: 200;
}

.header__top__logo svg {
    height: 14px;
    width: 60px;
}

.header__top__right {
    display: flex;
    z-index: 200;
}

.header__top__profil {
    margin-right: 20px;
    z-index: 100;
}

.header__top__profil img {
    height: 20px;
    width: 20px;
}

.header_secondary {
    height: 90vh;
    width: 100vw;
    background-color: #040028;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color: white;
    flex-direction: column;
    position: relative;
}


/* LOGO */

@keyframes round {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes barre {
    from {
        opacity: 0;
        transform: translateY(-100px);
        ;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes point_right {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes point_left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.round {
    fill: #f9d7c8;
    animation: round 2s forwards;
    opacity: 0;
    animation-delay: 1300ms;
}

.point_left {
    opacity: 0;
    fill: #f9d7c8;
    transform: translateX(10px);
    animation: point_left 1500ms forwards;
    animation-delay: 1100ms;
}

.point_right {
    opacity: 0;
    fill: #f9d7c8;
    transform: translateX(-10px);
    animation: point_right 2s forwards;
    animation-delay: 1100ms;
}

.barre {
    opacity: 0;
    fill: #f9d7c8;
    animation: barre 1100ms forwards;
    transform: translateY(-100px);
    animation-delay: 1s;
}

.header_secondary svg {
    height: 174px;
    width: 150px;
}

.header_secondary p {
    z-index: 120;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.233);
    margin-bottom: 10px;
}

.big__title {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    animation: appear__title 2s;
    font-family: 'GTWalsheimProBold', sans-serif;
    font-weight: bold;
}

header p:nth-of-type(2) {
    font-size: 19px;
    line-height: 20px;
    text-align: center;
    font-family: 'GTWalsheimProBold', sans-serif;
    font-weight: bold;
}

@keyframes appear__title {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.appear_title {
    opacity: 0;
    animation: appear__title 700ms forwards;
    animation-delay: 500ms;
}

.appear_title_second {
    opacity: 0;
    animation: appear__title 700ms forwards;
    animation-delay: 900ms;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

.round_framb {
    height: 203px;
    width: 57px;
    position: absolute;
    right: 0;
    background-image: url('../../../assets/round_header.svg')
}

.round_green {
    height: 100px;
    width: 141px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../../../assets/round_green.svg')
}


/* second menu */

.menu_second {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pronoms {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    /* animation: 700ms appear forwards; */
}

.pronoms-img:hover {
    cursor: pointer;
}

.pronoms span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #040028;
}

.largePronoms {
    width: 800px;
    background-color: red;
    height: 100px;
}

.hidden {
    display: none;
}

.nos_offres {
    height: auto;
    width: 100vw;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-family: 'GTWalsheimProBold', sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-variant: small-caps;
}

.round {
    height: 24px;
    width: 24px;
    border-radius: 100px;
    background: #F9D7C8;
    margin: 20px auto 20px auto;
}

.offre_desc {
    min-width: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.03em;
}

.list_offres {
    padding-top: 30px;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width:980px) {
    .list_offres {
        width: 40%;
    }
    .offres_items {
        min-width: 170px;
    }
    h2 {
        font-size: 30px;
    }
}

.offres_items {
    height: auto;
    width: 130px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
}

.offres_items:hover {
    color: #F9D7C8;
    text-shadow: 0 0 1px #F9D7C8;
    transition: 500ms;
}

.offres_items img {
    transition: 500ms;
}

.offres_items img:hover {
    transform: scale(1.2);
    transition: 500ms;
}

.offres_items .items__title {
    font-family: 'GTWalsheimProBold', sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 20px;
}

.offres_items .items__desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    /* or 22px */
    text-align: center;
    letter-spacing: 0.03em;
    width: 130px;
}


/* stats */

.stats {
    width: 100vw;
    background: #040028;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.stats_items {
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 180px;
}

@media screen and (min-width:980px) {
    .stats_items {
        margin-right: 20px;
    }
}

.stats__number {
    font-family: 'GTWalsheimProBold', sans-serif;
    font-size: 68px;
    line-height: 97px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #F9D7C8;
    font-weight: bold;
}

.stats__number:hover {
    color: #A3FFD3;
    transition: 500ms;
}

.stats__def {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    text-align: center;
    letter-spacing: 0.03em;
}

.turquoise {
    color: #A3FFD3;
}


/* portrait */

.portraits {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.forme_design {
    position: absolute;
    top: 0;
}

.communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.communication img {
    margin-bottom: 30px;
}

.communication p {
    margin-top: 30px;
}

.paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    letter-spacing: 0.03em;
    padding: 30px;
}

.paragraph--white {
    color: white;
}


/* realisations */

.realisations {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px -16px 139px rgba(4, 0, 40, 0.05);
}

.realisations__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.realisations__items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 60px);
    height: 175.44px;
    background: #040028;
    box-shadow: 0px -1px 114px rgba(4, 0, 40, 0.06);
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    z-index: 100;
}

@media screen and (min-width: 980px) {
    .realisations__items {
        width: 395px;
        height: 203px;
    }
    .realisations__list {
        width: calc(100vw - 100px);
        flex-direction: row;
    }
}

.realisations__items--turquoise {
    background: #A3FFD3;
    color: black;
}

.item_title {
    font-family: 'GTWalsheimProBold', sans-serif;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.item_desc {
    font-family: 'GTWalsheimProBold', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    text-align: center;
    letter-spacing: 0.03em;
    color: white;
}

.item_title--dark {
    color: black
}

.item_desc--dark {
    color: black;
}


/* references */

.references {
    box-shadow: 0px -16px 139px rgba(4, 0, 40, 0.05);
    height: auto;
    width: 100vw;
    margin-top: 45px;
    margin-bottom: 30px;
}

.list_references {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.references_logos {
    height: auto;
}

.two_items {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width:980px) {
    .two_items {
        width: 30%;
    }
}

.two_items img {
    max-width: 40%;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin: 20px auto 20px auto;
}

@media screen and (min-width: 980px) {
    .list_references {
        flex-direction: row;
        justify-content: center;
    }
    h3 {
        text-align: initial;
    }
    .list_references p {
        width: 600px;
    }
    .references_txt {
        margin-left: 80px;
    }
    .paragraph {
        padding: 0;
        max-width: 613px;
        margin-bottom: 30px;
    }
}

.coups_de_coeur {
    height: 300px;
    width: 100vw;
    background: #040028;
}